<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>
	
        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <!--<h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>-->

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          <!--{% include icon-links.html %}
        </div>-->
	<!--
        <div class="executive-summary" itemprop="description">
          <p>Having worked for an early-stage startup and having founded one myself, I have experience in almost all aspects of a tech business. This includes business development, pre-sales to product management, software development and delivery, support and so on. I took a break from work for the past one and a half years to finish my masters in computer science from Georgia Tech. Currently I am presently looking for roles in product management.  </p>
        </div>
	
        
        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}
		-->
      </header>
      
      <section class="content-section">

        <header class="section-header">
          <h2>Contact</h2>
        </header>
        
        <b>Email</b>&nbsp; &nbsp; sandp.chanda@gmail.com<br>
        <b>Voice</b>&nbsp; &nbsp; +91 99721 98658<br>
        
       </section>

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Georgia Institute of Technology</h3>
          <h4 class="resume-item-details" itemprop="description"> MS, Computer Science &bull; 2014 &mdash; 2016</h4>
          <p class="resume-item-copy">GPA 4.0/4.0; specialisation in Interactive Intelligence</p>
          <!--
          <p class="resume-item-copy">If you had any meaningful roles at college, feel free to write about them here.</p>
          -->
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">University of California, Berkeley</h3>
          <h4 class="resume-item-details" itemprop="description"> Certificate in Business Administration &bull; 2012 &mdash; 2013</h4>
          
          <p class="resume-item-copy">GPA 4.0/4.0; extension program</p>
          
        </div>

        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">National Institute of Technology, Silchar</h3>
          <h4 class="resume-item-details" itemprop="description"> B.Tech., Electronics and Communication Engg. &bull; 2005 &mdash; 2009</h4>
          
          <p class="resume-item-copy">GPA 9.68/10.0; recipient of the institute gold medal for having scored the highest CGPA </p>
          
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      
	

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Slashroot Labs</h3>
          <h4 class="resume-item-details" itemprop="description">Founder &bull; Sept., 2012 &mdash; Aug., 2014</h4>
          <p class="resume-item-copy">I founded a startup which provided mobile app and responsive website development services to SMEs. I ran it successfully for two years, before winding up operations.</p> 
          <br>
          <h5 class="resume-item-details" itemprop="description">Projects undertaken:</h5> 
          <ul class="resume-item-list">
            <li><b>Designed and implemented the <a href="http://nptel.ac.in/course.php">"search within video"</a> feature for IIT NPTEL</b>, making it easier for 400k+ users to discover lecture content with relevant keywords.  I conceptualised the entire project and worked on the implementation with my team members. Technologies used were Python and PHP scripts, SQL and JavaScript. </li>
            <li><b>Started a custom software business</b> to enable a constant cash flow for Slashroot.</li>
            <li><b>Architected and developed a publishing platform, Golpo</b> with custom APIs for Web and mobile applications. This <a href="http://slashroot.herokuapp.com/posts/new">webapp</a> showcases one of the use cases of Slashroot Labs' content publishing platform Golpo. The front end was developed using HTML5, CSS3, JavaScript and Ajax. The back end of the webapp was built using Ruby on Rails. </li>
            <li><b>Coded and deployed several Web applications</b> for clients with Golpo at the backend. This is a prototype <a href="http://saasdemo.herokuapp.com/">webapp</a> for online procurement of software licenses built using Golpo and spree.</li>
          </ul>
          <!-- <p class="resume-item-copy">If you're going to copy paste markup, or edit it, just be sure to keep the appropriate classnames on your new elements for styling purposes.</p> -->

        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Seer Akademi</h3>
          <h4 class="resume-item-details" itemprop="description">Entrepreneur in Residence &bull; Feb., 2010 &mdash; Aug., 2012</h4>
          <!--<p class="resume-item-copy">If your stint was shorter, feel free to be brief and just call out the most meaningful points of your role. Be concise, and be meaninful. The person reading just needs enough to want to talk to you more about your experience.</p> -->
          <p class="resume-item-copy">I conceptualized and developed several of the company's key educational technology products. I also established some of Seer's important organizational processes.</p> 
          <br>
          <h5 class="resume-item-details" itemprop="description">Projects undertaken:</h5>
          <ul class="resume-item-list">
            <li>Created RTL design and verification training modules and <b>worked extensively with Synopsys EDA tools (VCS, MVSIM, MVRC, DC).</b></li>
            <li><b>Co-engineered and deployed the global classroom technology</b> in multiple locations across India, enabling seamless live streaming of classes to thousands of students.</li>
            <li><b>Created 3D educational video content</b> used by students across multiple locations in India.</li>
            <li><b>Developed e-publications in multiple Indian languages</b> for academic and general use.</li>
          
          </ul>

        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <!--
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Simpson Lazer Tag</h3>
          <h4 class="resume-item-details" itemprop="description">Front Desk Attendant &bull; Jun, 1975 &mdash; May, 1978</h4>
          <p class="resume-item-copy">Boy, when Marge first told me she was going to the Police Academy, I thought it would be fun and exciting, you know, like the movie... Spaceballs. But instead, it's been painful and disturbing, like the movie Police Academy.</p>

        </div>--><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      
      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Academic projects</h2>
        </header>
	
	<div class="resume-item">
          <h3 class="resume-item-title">Analysis of cache and branch predictor performances in the SESC simulator</h3>
          <h4 class="resume-item-details">CS 6290 High-Performance Computer Architecture </h4>
          <p class="resume-item-copy">Modified the source code of the SESC simulator (a popular microprocessor architectural simulator) in C++ to analyze the performance of tournament and hierarchical predictors; also categorized and analyzed the distribution of compulsory, conflict, capacity and coherence misses.</p>
        </div>
        
	<div class="resume-item">
          <h3 class="resume-item-title">Development of algorithms for maintaining cache coherence</h3>
          <h4 class="resume-item-details">CS 6210 Advanced Operating Systems</h4>
          <p class="resume-item-copy">As a part of the project, I developed First In First Out (FIFO), Last In First Out (LIFO), Least Recently Used (LRU) and Random Page Eviction algorithms in C for maintaining cache coherence. 
			</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Barrier Synchronization</h3>
          <h4 class="resume-item-details">CS 6210 Advanced Operating Systems</h4>
          <p class="resume-item-copy">Developed OpenMP, MPI and OpenMP-MPI barrier synchronization in C for a symmetric multiprocessor system. 
			</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">GT threads library</h3>
          <h4 class="resume-item-details">CS 6210 Advanced Operating Systems</h4>
          <p class="resume-item-copy">Developed a userland thread library similar to PThreads in C.
			</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Recoverable Virtual Memory</h3>
          <h4 class="resume-item-details">CS 6210 Advanced Operating Systems</h4>
          <p class="resume-item-copy">Developed an RVM system for creating persistent memory segments in C. 
			</p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Application and comparison of supervised learning algorithms</h3>
          <h4 class="resume-item-details">CS 7641 Machine Learning</h4>
          <p class="resume-item-copy">Applied supervised learning algorithms, namely, decision trees, boosting, k-nearest neighbors, neural nets and support vectors machines to the iris and breast cancer diagnosis datasets. Used R to generate the results and performed a thorough analysis.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Application and comparison of clustering and dimensionality reduction algorithms</h3>
          <h4 class="resume-item-details">CS 7641 Machine Learning</h4>
          <p class="resume-item-copy">Applied clustering (k-means and expectation maximization) and dimensionality reduction (principal component analysis, independent component analysis and random projections) to the iris and breast cancer diagnosis datasets. Used Weka to generate the results and performed a thorough analysis.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Design and solution of MDPs using value iteration, policy iteration and reinforcement learning</h3>
          <h4 class="resume-item-details">CS 7641 Machine Learning</h4>
          <p class="resume-item-copy">Designed Markov Decision Processes using the GridWorld domain as reference in the <a href="https://github.com/jmacglashan/burlap">BURLAP</a> library. Solved the MDPs using policy iteration, value iteration and QLearning algorithms and performed a thorough analysis of the results. </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Apply random search algorithms to optimisation problems</h3>
          <h4 class="resume-item-details">CS 7641 Machine Learning</h4>
          <p class="resume-item-copy">Applied and analysed random search algorithms, namely, simulated annealing, hill climbing, genetic algorithms and MIMIC to three optimisation problems, namely, the knapsack, traveling salesman and four peaks problems. The algorithms were tested using their respective implementations in the <a href = "https://github.com/pushkar/ABAGAIL">ABAGAIL</a> library. </p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Design of an AI agent for solving Raven's progressive matrices</h3>
          <h4 class="resume-item-details">CS 7637 Knowledge-based Artificial Intelligence</h4>
          <p class="resume-item-copy">One way of evaluating the success of Knowledge-based AI agents is to have them take human intelligence tests like Raven's test. The agent developed in this project was able to solve 2&#215;1, 2&#215;2 and 3&#215;3 Raven's progressive matrices problem using both propositional and visual representations. The agent was coded in Python and also used libraries like OpenCV for processing the images in the visual analogy problems.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Non-photo realistic rendering to images and real time video</h3>
          <h4 class="resume-item-details">CS 6475 Computational Photography</h4>
          <p class="resume-item-copy">Applied edge detection techniques and smoothing filter mechanisms to create various non-photo realistic rendering effects like watercolor, sepia, cartoon, pencil sketch, warming and cooling effects. The effects were applied to images and to the real time video feed obtained from a webcam.
			</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Prediction of the motion of a robot using Kalman filters</h3>
          <h4 class="resume-item-details">CS 8803 AI for Robotics</h4>
          <p class="resume-item-copy">Used both applied and extended Kalman filters to predict the motion of a robot in a bounding box. The techniques were used primarily to determine the velocity of the robot, deviation in the linear motion of the robot and change in the heading when the robot bounced off the bounding box.
			</p>
        </div>
        
	<div class="resume-item">
          <h3 class="resume-item-title">Perception of peer review in the OMSCS program</h3>
          <h4 class="resume-item-details">CS 6460 Educational Technology</h4>
          <p class="resume-item-copy">This study investigated the perception of Georgia Tech's OMSCS students on the topic of the current peer review process in the OMSCS program. It included the discussion of the potential steps that could be taken to improve the peer review process.</p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Design and development of a rewards and payments Android application</h3>
          <h4 class="resume-item-details">CS 6300 Software Development Process</h4>
          <p class="resume-item-copy">Developed a payments and rewards management system for tea and coffee carts called TCCart which enabled business owners to reward customers for their loyalty. It is a mobile application and runs on the Android platform. </p>
        </div>
        
        <div class="resume-item">
          <h3 class="resume-item-title">Design and development of an Electronic Health Record Web application</h3>
          <h4 class="resume-item-details">CS 6440 Health Informatics</h4>
          <p class="resume-item-copy"> Developed an EHR Web application using the FHIR standard and Django. The Web application used REST APIs of the FHIR server to post, update and fetch patient and practitioner data.</p>
        </div>

        

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
        
          <b>Languages:</b> C, Python (Proficient)<br>
          <b>Data Analysis:</b> R<br> 
          <b>Version Control:</b> git<br>
        
        <p>Prior experience:</p>
          <b>EDA tools:</b> Synopsys VCS, DC, MVSIM, MVRC<br>
          <b>Web technologies:</b>  CSS3, Django, HTML5, JavaScript, Ruby on Rails<br>
          <b>Languages:</b> Ruby<br>

        </div>
        <!--
        <div class="resume-item">
          <h4 class="resume-item-details">Craft beer brewing</h4>
          <p class="resume-item-copy">Hops inspection, brew testing, distribution management, bottle label design, festival and event management</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Family leadership</h4>
          <p class="resume-item-copy">Bread winning, conflict resolution, couch inspection, TV longevity testing</p>
        </div>
		-->
      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Academic achievments</h2>
        </header>

        <div class="resume-item">
          <p class="resume-item-copy">Recipient of the institute gold medal for having scored the highest CGPA of 2009 graduating batch of NIT Silchar</p>
        </div>

        <div class="resume-item">
          <p class="resume-item-copy">Secured 4th rank in the 12th standard board exams in the state of Assam, recipient of gold medal from Assam Academy of Mathematics in 2005 </p>
        </div>

        <div class="resume-item">
          <p class="resume-item-copy">Secured 11th rank in the 10th standard board exams in the state of Assam</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}

      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}
      
      <footer class="page-footer">
        
        
      </footer>
	 
    </div>

  </body>

</html>
